/**
 * index.scss
 * - Add any styles you want here!
 */
html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.5s ease;
}

.hero {
  background: url("../imgs/bg.jpg");
  background-size: cover;
}

.hero .more-hearts-please {
  transform: scale(0);
  transition: all 0.3s ease;
}

.hero .more-hearts-please.active {
  transform: scale(1);
}

.hero .behind {
  background: url("../imgs/behind.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0;
}

.hero .title,
.hero .subtitle {
  font-family: "Ultra", serif;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

.hero .title {
  font-size: 8rem;
  color: #2dabb4;
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 3px 3px 0 #fff;
  opacity: 0.7;
}

.hero .title::selection {
  background-color: #2bbe2b;
  color: #ffffff;
}

.hero .social {
  font-family: "Ultra", serif;
  font-size: 4rem;
  color: white;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.hero .rope {
  position: absolute;
  left: calc(50% - 50px);
  top: 0;
}

.hero .twitter-handle {
  min-height: 96px;
  transform: scale(1);
  transition: all 0.3s ease;
}

.hero .twitter-handle:empty {
  transform: scale(0.2);
}

.too-many-hearts {
  transform: scale(0);
  transition: all 0.3s ease;
}

.too-many-hearts.active {
  transform: scale(1);
}

.profile {
  border-radius: 100%;
  border: 5px solid #FFFFFF;
  transition: all 0.3s ease;
  transform: scale(0.8);
}

.profile.active {
  transform: scale(1.2);
}

.top-fun-messages {
  z-index: 1;
  color: white;
}

.top-fun-messages .made-with-love {
  color: white;
}

#heart-canon {
  position: absolute;
  bottom: 0;
  left: calc(50% - 175px);
}

.to-about {
  position: absolute;
  bottom: -36px;
  left: calc(50% - 28px);
}

.about-me {
  background: url("../imgs/underground.jpg");
  background-size: cover;
}

.about-me .subtitle,
.about-me .content {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 2px;
  color: white;
}

.contact {
  background: url("../imgs/basement.jpg");
  background-size: cover;
  background-position: center;
}

.contact .contact-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 2px;
}

.contact .contact-form .label {
  color: white;
}

.trash {
  font-size: 3rem;
  color: white;
}

.footer {
  background: black;
}

.footer .content {
  color: white;
}

.secret-message-shhhhhh {
  color: black;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  .hero .title {
    font-size: 4rem;
  }
  .hero .twitter-handle {
    font-size: 2em;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .hero .title {
    font-size: 4rem;
  }
  .hero .twitter-handle {
    font-size: 2em;
  }
}
